<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.jvoyatz.assignment.core.testing">

    <application>
        <activity
            android:name="gr.jvoyatz.assignment.wallet.accounts.HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>